@font-face { src: url("../font/Cafe24Ohsquare.ttf"); font-family: "24bold"; }
@font-face { src: url("../font/Cafe24SsurroundAir.ttf"); font-family: "24normal";}

/* 공통설정 */
html {min-height: 100%; position: relative;}
body {min-height: 100%; margin: 0; padding: 0 0 10% 0; font-family: "24normal"; -ms-user-select: none;-moz-user-select: -moz-none;-webkit-user-select: none;-khtml-user-select: none;user-select: none; f}
ul{list-style: none;}
h2	{color: #7F7F7F; font-family:"24bold"; display: inline; margin: -5px 0 10px 0;}
hr {margin: 10px 0 10px 0; border: 0px; background: #EAEAEA; height: 2px;}
a:link { text-decoration: none; color:#4D4F6F; border: none;}
a:visited { text-decoration: none; color:#4D4F6F; }
a:hover { text-decoration: none; color:#B8DFD8; }
b, p, a, img, label{border: 0 !important}


/* 상단바, 하단바 적용 */
header.comm-head-outer 	{ text-align: right; width: 100%; height: auto; background: white; margin: 0; padding: 0; position: sticky; top: 0; border-bottom: 1px solid #4D4F6F; z-index: 20; line-height: 60px; }
header.reg-head-outer 	{ text-align: center; width: 100%; height: auto; background: #EAEAEA; margin: 0; padding: 0; position: sticky; top: 0; border-bottom: 1px solid #D5D5D5; z-index: 20; }
footer.foot-outer 	{ text-align: center; width: 100%; height: auto; background: #EAEAEA; margin: auto 0 0 0; padding: 0 0 -5px 0; position: absolute; bottom: 0; line-height: 60px; }
div.head-area 		{ margin: 0 0 0 0; height: 20px; text-align: right; left: 80%; right: 0; bottom: 0;}
div.logo-area 		{ display: inline-block; width: auto; margin: -30px 0 0 0; height: 100px; text-align: left;  }
div.head-service-area{ display: inline-block; width: 70%; margin-bottom: -40px; }
div.logo-area2 		{ display: inline-block; width: 40%;}
div.foot-area 		{ display: inline-block; width: 50%; margin: 0 0 0 0; height: 50px; right: 0; bottom: 0; text-align: right; }
ul.head-list		{ float: right; margin: 3px 0 -3px 0; line-height: normal; display: inline-block; }
ul.service-list 	{ margin-bottom: 10px; height: 50px; text-align: right; padding-bottom: 30px;}
ul.foot-list 		{ float: right; margin: 10px 10% 0 10%; line-height: normal; }
li.head-info-label, li.foot-info-label {float: left;}
li.service-info-label{float: left; margin-right: 5%; vertical-align: top;}
li.foot-label			{display: block; font-size: 12px;}
a.head-info-label, a.foot-info-label { font-size: 12px; color: #7F7F7F; margin-right: 20px; }
a.service-info-label		{ font-family: "24bold"; font-size: 25px; color: #7F7F7F; margin-right: 20px;}
a.service-info-label:hover 	{ font-family: "24bold"; font-size: 25px; color: #C9D6DF; }
img.logo 		{ width: 225px; height: 110px; float: left; margin-top: 5%; margin-left: 0;}
img.talk_btn 	{ width: 50px; height: 50px;}

/* body 내용공간 설정 */
div.body-info 	{ margin: 5% 15% 5% 15%;}
div.info-detail	{ margin: 0 0 40px 10px; display: inline;  }

a.info-title 		{ font-family: "24bold"; font-size: 30px; color: #4D4F6F; margin: 0 20px 0 0; display: inline; }
a.info-title:hover 	{ font-family: "24bold"; font-size: 30px; color: #FFE194; margin: 0 20px 0 0; display: inline; }

a.mypage-title-sub 		{ color: #B8DFD8;}
a.mypage-title-sub:hover 	{ color: #FFE194;}
a.login-other { font-size: 12px; color: #7F7F7F; margin-right: 10px; }



ul.first-box	{ width: 50%; margin: 0 0 0 0; padding: 0 0 0 0; float: left; text-align: center;}
ul.second-box	{ width: 50%; margin: 0 0 0 0; padding: 5% 0 0 0; float: left; }
ul.mypage-info	{ line-height: 200%; margin: 0 0 0 0; width: 90%;}

li.login-info-second	{margin: 0 0 2% 0;}
li.mypage-info-title	{float: left; width: 25%;}
li.mypage-info-content	{float: left; width: 75%;}


.info-title	{ display: inline; font-family: "24bold"; color: #4D4F6F; margin: 0 20px 0 0;}
.info-title-sub	{ display: inline; font-size: 10px;}
.info-search	{ display: inline; width: 100%; }
.info-inner	{ text-align: center; margin: 0 0 0 0; padding: 0 0 0 0; }
.searchText	{ margin: 1px 0 0 0; padding: 4px 0 6px 10px; width: 60%; border: 2px #EAEAEA solid; border-radius: 3px; background: white; }
.searchText2	{ margin: 1px 0 0 0; padding: 4px 0 6px 10px; width: 50%; border: 2px #EAEAEA solid; border-radius: 3px; background: white; }
.login-info-label	{ margin: 0 0 0 0; padding: 3% 0 3% 0; width: 95%; }
.find-info	{ width: 95%; }
.next-find 	{ font-family: "24bold"; font-size: 15px; color: #FFE194; margin-right: 20px; }
.next-find:hover	{ font-family: "24bold"; font-size: 15px; color: #C9D6DF; }

.error	{display: block; margin: auto; padding: 0 0 0 0; height: 75%; align-content: center;}
img.intro {width: 577px;}
span	{color: red; padding-left: 10px;}

img.explain	{ width: 25px; height: 25px; vertical-align: middle; }

table	{ border:0px white solid; margin: 0; padding: 0; width: 100%; border-spacing: 0px; }
th	{ border:1px white solid; margin: 0; padding: 5px 0 5px 0; }
td	{ border:1px white solid; margin: 0; padding: 5px 0 5px 0; }
td :not(.table-inner, .reg-need, .reg-need-label, caption)	{ border: 1px #EAEAEA solid; }
td.reg-need-label	{ width: 20%; padding-left: 5%; }
td.reg-need		{ width: 80%; }
td.find-info-label	{ width: 20%; border: 0px; }
td.find-info-input	{ width: 40%; border: 0px; }
td.mypage-title		{ width: 20%; border: 0px; font-size: 15px; text-align: center; }
td.mypage-title-sub	{ width: 20%; border: 0px; font-size: 20px; text-align: center; padding: 5px 0 5px 0; font-family: "24bold";}
td.mypage-title-sub2	{ width: 20%; border: 0px; font-size: 20px; text-align: center; padding: 5px 0 5px 0; font-family: "24bold"; color: pink;}
td.sub-date		{ width: 20%; border: 0px; font-size: 15px; padding: 10px 0 5px 20px; 	border-bottom: 1px #D5D5D5 solid;}
td.sub-type		{ width: 60%; border: 0px; font-size: 15px; padding: 10px 0 5px 0; 	border-bottom: 1px #D5D5D5 solid;}
td.sub-detail		{ 	      border: 0px; font-size: 15px; text-align: right;padding: 10px 0 5px 0; 	border-bottom: 1px #D5D5D5 solid; }
td.sub-none-info	{ 	      border: 0px; font-size: 15px; text-align: center; }

thead			{ font-size: 20px; text-align: center; font-family: "24bold"; background: #EAEAEA; }
thead.mypage-title	{ width: 100%; background: white; }

caption.regist-info	{text-align: left; padding-left: 2%;}
caption			{text-align: right;}

input::placeholder	{ color: #D5D5D5; font-weight: bold;}
input:focus, select:focus { outline: none; }

input, btton, select	{ border-radius: 3px; font-family: "24normal"; }

input[type=button], input[type=submit], button:not(.fit-size, .fit-size2) { 
border: 2px solid #B8DFD8; color: #B8DFD8; background: white; font-size: 15px; font-family: "24bold"; width: auto; margin: 0 0 10px 5px; padding: 4px 5px 4px 5px; }
input:hover[type=button], input:hover[type=submit], button:hover:not(.fit-size, .fit-size2) { 
border: 2px solid #B8DFD8; color:white; background: #B8DFD8; font-size: 15px; font-family: "24bold"; width: auto; margin: 0 0 10px 5px; padding: 4px 5px 4px 5px; }

input[id="save-info"]		{ color:white; background: #B8DFD8; font-size: 20px; width: 50%; margin: 0 10% 10px 5px; }
input:hover[id="save-info"]	{ color: #B8DFD8; background: white; font-size: 20px; width: 50%; margin: 0 10% 10px 5px; }

input[id="save-info2"], input.find-info-input { border: 1px solid #FFE194; color:white; background: #FFE194; font-size: 20px; width: 100%; margin: 0 0 0 0; }
input:hover[id="save-info2"], input:hover.find-info-input { border: 1px solid #FFE194; color: #FFE194; background: white; font-size: 20px; width: 100%; margin: 0 0 0 0; }

input[type=text], input[type=password], select { border: 2px solid #EAEAEA; background: white; padding: 4px 0 6px 10px; margin: 1px 0 0 0; }
#phone1	{ width: 14.5%; border: 2px solid #EAEAEA; }


input.reg-info-label 			{ width: 60%; font:10px #EAEAEA;}
input.reg-info-phone2	{ width: 45%; }
input[id="emailPart1"] ,select[id="emailPart2"] 	{ width: 28%; border: 2px solid #EAEAEA; color: #D5D5D5; background: white; font-size: 15px; font-family: "24bold"}
 
input[id="addrNum"], input[id="find-addr"], input[id="find-addr"]:hover	{ width: 12.5%; }
input[id="addr"] 	{ width: 32%; }
button.fit-size , button.fit-size2:hover	{ width: 90%; height:100%; margin: 0; border: 2px solid #B8DFD8; color: #B8DFD8; background: white; font-size: 15px; }
button.fit-size:hover, button.fit-size2		{ width: 90%; height:100%; margin: 0; border: 2px solid #B8DFD8; color:white; background: #B8DFD8; font-size: 15px; }
button.mainpage			{ width: auto; }

textarea.guideContent {width: 90%; resize: none; background: #EAEAEA;  padding: 10px 10px 10px 10px; margin: 10px 10px -10px 10px; }
textarea:focus.guideContent{outline: none;}

input[type='radio'], input[type='checkbox'] 
{ -webkit-appearance:none; width:12px; height:12px; border:0 solid ; border-radius:50%; outline:none; background:#B8DFD8; position: relative; top: 5px;}
input[type='radio']:before, input[type='checkbox']:before 
{ content:''; display:block; width:100%; height:100%; margin: 0; border-radius:50%;}
input[type='radio']:checked:before , input[type='checkbox']:checked:before
{ background:#4D4F6F; }

#goodsCheck{ -webkit-appearance:none; width:12px; height:12px; border:0 solid ; border-radius:50%; outline:none; background:white; position: relative; top: 5px;}
#goodsCheck:before{ content:''; display:block; width:100%; height:100%; margin: 0; border-radius:50%;}
#goodsCheck:checked:before{ background:#4D4F6F; }




#reg-agree{ font-size: 12px; margin-right: 5%;}
label.login-option{font-size: 80%;}



.byimg{width: 20%;}

img.image-goods {width: 100%;}
td.goods-box{height: 200px; border:1px solid #EAEAEA; }
div.image-box{border: 1px; }
div.goods-txt { padding: 2% 0 2% 0;border: 0px; }


div.goods-title	{font-family: "24bold"; font-size: 32px; padding: 10px 0 10px 15px; color: white; background: #FFE194; margin: 0;}
p.goods-title	{display: inline; font-size: 12px;}
div.goods-title2{font-family: "24bold"; font-size: 32px; padding: 10px 0 10px 15px; color: #4D4F6F; background: #E8F6EF; margin: 0;}
p.goods-title2	{display: inline; font-size: 12px;}
div.goods-title3{display: inline; font-family: "24bold"; font-size: 32px; padding: 10px 0 10px 15px; color: #B8DFD8; background: none; margin: 0;}
p.goods-title3	{display: inline; font-size: 12px;}